<section>
	<div class="form-group">
		<form class="form-inline" name="courseform" ng-submit="addCourse()" novalidate>
			<label>add course
				<input type="text" class="form-control" name="coursename" placeholder="Course name"
				ng-model="coursename" ng-required="true">
			</label>
			<button type="submit" class="btn btn-default"
			ng-disabled="courseform.$invalid">+</button>
		</form>
	</div>
	<div class="form-group" ng-show="course">
		<label>Course:
			<select class="form-control" ng-model="course" ng-options="course.name for course in courses" ng-change="updateCetegories()">
			</select>
		</label>
	</div>
	<div class="form-group" ng-show="course">
		<form class="form-inline" name="categoryform" ng-submit="addCetegory()" novalidate>
			<label>add category
				<input type="text" class="form-control" name="categoryname" placeholder="Category name"
				ng-model="categoryname" ng-required="true">
			</label>
			<button type="submit" class="btn btn-default"
			ng-disabled="categoryform.$invalid">+</button>
		</form>
	</div>
	<div class="form-group" ng-show="category">
		<label>Category:
			<select class="form-control" ng-model="category" ng-options="category.name for category in categories" ng-change="updateLessons()">
			</select>
		</label>
	</div>
	<div class="form-group" ng-show="category">
		<form class="form-inline" name="lessonform" ng-submit="addLesson()" novalidate>
			<label>add lesson
				<input type="text" class="form-control" name="lessonname" placeholder="Lesson name"
				ng-model="lessonname" ng-required="true">
			</label>
			<button type="submit" class="btn btn-default"
			ng-disabled="lessonform.$invalid">+</button>
			<div ng-show="lessonname.length > 0">
				<dl>
					<dt>
						<label>lesson html</label>
					</dt>
					<dd>
						<textarea class="form-control" rows="20" ng-model="lessonHtml.htmlText" placeholder="Lesson html" ng-required="true"></textarea>
					</dd>
				</dl>
			</div>
		</form>
	</div>
	<div class="form-group" ng-show="lesson">
		<label>Lesson:
			<select class="form-control" ng-model="lesson" ng-change="setLessonDetails()" ng-options="lesson.name for lesson in lessons">
			</select>
		</label>
		<input type="text" class="form-control" placeholder="Lesson name"
		ng-model="lesson.name">
		<div>
			<dl>
				<dt>
					<label>lesson html</label>
				</dt>
				<dd>
					<textarea class="form-control" rows="20" ng-model="lessonHtml.htmlText"></textarea>
				</dd>
				<dd>
					<button type="button" ng-click="updateLesson()" class="btn btn-default">update</button>
				</dd>
			</dl>
		</div>
	</div>
	<div class="form-group" ng-show="lesson">
		<label>lesson page look</label>
		<div class="lessonHtmlContainer" ng-bind-html="lessonHtml.htmlText | html"></div>
	</div>
</section>