<section>
	<div class="form-group">
		<form class="form-inline" name="courseform" ng-submit="addCourse()" novalidate>
			<label>add course
				<input type="text" class="form-control" name="coursename" placeholder="Course name"
				ng-model="coursename" ng-required="true">
			</label>
			<button type="submit" class="btn btn-default"
			ng-disabled="courseform.$invalid">+</button>
		</form>
	</div>
	<div class="form-group" ng-show="course">
		<label>Course:
			<select class="form-control" ng-model="course" ng-options="course.name for course in courses" ng-change="updateCetegoriesSelect()">
			</select>
		</label>
		<input type="text" class="form-control" placeholder="Course name"
		ng-model="course.name">
		<button type="button" ng-click="updateCourse()" class="btn btn-primary">update name</button>
		<button type="button" ng-click="deleteCourse()" class="btn btn-danger">delete course</button>
	</div>
	<div class="form-group" ng-show="course">
		<form class="form-inline" name="categoryform" ng-submit="addCetegory()" novalidate>
			<label>add category
				<input type="text" class="form-control" name="categoryname" placeholder="Category name"
				ng-model="categoryname" ng-required="true">
			</label>
			<button type="submit" class="btn btn-default"
			ng-disabled="categoryform.$invalid">+</button>
		</form>
	</div>
	<div class="form-group" ng-show="category">
		<label>Category:
			<select class="form-control" ng-model="category" ng-options="category.name for category in categories" ng-change="updateLessonsSelect()">
			</select>
		</label>
		<input type="text" class="form-control" placeholder="Category name"
		ng-model="category.name">
		<button type="button" ng-click="updateCategory()" class="btn btn-primary">update name</button>
		<button type="button" ng-click="deleteCategory()" class="btn btn-danger">delete category</button>
	</div>
	<div class="form-group" ng-show="category">
		<form class="form-inline" name="lessonform" ng-submit="addLesson()" novalidate>
			<label>add lesson
				<input type="text" class="form-control" name="lessonname" placeholder="Lesson name"
				ng-model="lessonname" ng-required="true">
			</label>
			<button type="submit" class="btn btn-default"
			ng-disabled="lessonform.$invalid">+</button>
			<div ng-show="lessonname.length > 0">
				<dl>
					<dt>
						<label>lesson html</label>
					</dt>
					<dd>
						<textarea class="form-control" rows="20" ng-model="newLessonHtmlText" placeholder="Lesson html" ng-required="true"></textarea>
					</dd>
				</dl>
			</div>
		</form>
	</div>
	<div class="form-group" ng-show="lesson">
		<label>Lesson:
			<select class="form-control" ng-model="lesson" ng-change="updateLessonDetails()" ng-options="lesson.name for lesson in lessons">
			</select>
		</label>
		<input type="text" class="form-control" placeholder="Lesson name"
		ng-model="lesson.name">
		<button type="button" ng-click="updateLesson()" class="btn btn-primary">update name/html</button>
		<button type="button" ng-click="deleteLesson()" class="btn btn-danger">delete lesson</button>
		<button type="button" ng-click="showHtml = !showHtml" class="btn btn-info">show/hide lesson html</button>
		<div ng-show="showHtml">
			<dl>
				<dt>
					<label>lesson html</label>
				</dt>
				<dd>
					<textarea class="form-control" rows="20" ng-model="lessonDetails.htmlText.length"></textarea>
				</dd>
			</dl>
		</div>
	</div>
	<div class="form-group" ng-show="lesson && showHtml">
		<label>lesson page look</label>
		<div class="lessonHtmlContainer" ng-bind-html="lessonDetails.htmlText | html"></div>
	</div>
	<div class="form-group" ng-show="lesson">
		<exercise-tabs></exercise-tabs>
	</div>
</section>